@model List<UserViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone<th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.TeacherFirstName</td>
                <td>@item.TeacherSecondName</td>
                <td>@item.TeacherLastName</td>
                <td>@item.TeacherEmail</td>
                <td>@item.TeacherPhoneNumber</td>
            </tr>
        </tbody>
    }
</table>