@model UserViewModel

@inject SignInManager<Models.Models.User> singInManager;

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/DashCss/dashStyle.css" rel="stylesheet" />

<div class="page-topbar">
    <div class="quick-area">
        <ul class="pull-right info-menu user-info">
                        <li class="nav-item active">
                            <a class="my-nav-link nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-link nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="my-nav-link nav-link" asp-controller="Course" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog.html">Blog</a>
                        </li>
            <li class="profile">
                <a href="#" data-toggle="dropdown" class="toggle" aria-expanded="false">
                    <img class="cardPhoto" src="@("~/ImageForUser/" + Model.ImageName)" asp-append-version="true" />
                    <span>@Model.UserName </span>
                </a>
                <ul class="dropdown-menu profile fadeIn ">
                    <li>
                        <a class="options-bar" asp-controller="User" asp-action="Details" asp-route-id="@Model.Id">
                            Profile
                        </a>
                    </li>

                    <li class="last">
                        <a class="my-nav-link nav-link" asp-controller="Home" asp-action="Index">Back</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="page-sidebar" style="position:absolute">
    <div class="sidebar-inner" id="main-menu-wrapper">
        <div class="profile-info row ">
            <div class="profile-details">
                <h3>
                    <a href="ui-profile.html">@Model.UserName</a>
                </h3>
                <p class="profile-title">@Model.Profession</p>

            </div>
        </div>

        <ul class="wraplist" style="height: auto;">
            <li><a href=""><span class="sidebar-icon"><i class="fa fa-dashboard"></i></span> <span class="menu-title">Dashboard</span></a></li>
            @if (singInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li><a class="my-nav-link" asp-controller="Course" asp-action="Index"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span><span class="menu-title">Manage Courses</span></a></li>
            }
            @if (singInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li><a class="my-nav-link" asp-controller="Teacher" asp-action="Index"><span class="sidebar-icon"><i class="fa fa-users"></i></span> <span class="menu-title">Manage Teachers</span></a></li>
            }
            @if (singInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li><a class="my-nav-link" asp-controller="Student" asp-action="Index"><span class="sidebar-icon"><i class="fa fa-calendar"></i></span><span class="menu-title">Manage Students</span></a></li>
            }
            @if (singInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li><a class="my-nav-link" asp-controller="Student" asp-action="Index"><span class="sidebar-icon"><i class="fa fa-users"></i></span> <span class="menu-title">Teacher Dashboard</span></a></li>
            }
            <li> <a class="my-nav-link nav-link" asp-controller="Home" asp-action="Index"><span class="sidebar-icon"><i class="fa fa-lock"></i></span> <span class="menu-title">Sign Out</span></a></li>
        </ul>
    </div>
</div>

<section id="main-content">
    <section class="wrapper main-wrapper row">
            
            <div class="col-md-6">
                <section class="box">
                    <h5>Course List</h5>
                    <button id="courses" class="btn btn-danger">Show me courses</button>
                    <div id="courseContent">

                    </div>
                </section>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12">
                <section class="box">
                    <h5>Show my courses</h5>
                    <button id="students" class="btn btn-danger">Show my Courses</button>
                    <div id="content">

                    </div>
                </section>
            </div>

        </section>
</section>

@section Scripts{
    <script>
        $("#students").on("click", function () {
            $.ajax({
                method: "GET",
                url: "Dashboard/Students",
                success: function (data) {
                    $("#content").html(data);
                },
                error: function (err) {
                    alert(err);
                }
            });
        })
    </script>

    <script>
        $("#courses").on("click", function () {
            $.ajax({
                method: "GET",
                url: "Dashboard/Courses",
                success: function (data) {
                    $("#courseContent").html(data);
                },
                error: function (err) {
                    alert(err);
                }
            });
        })
    </script>
}