@model StudentViewModel

<html>
<head>
    @{ ViewData["Title"] = $"{Model.FirstName} - Details"; }

    <style>
        .container {
            display: inline-block;
        }

        .movieCard {
            display: inline-block;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 600px;
            max-height: 800px;
            margin-left: 2%;
            margin-top: 3%;
            font-family: arial;
        }

        .movieCard:hover {
            transform: translateY(-30px);
        }

        .cardPhoto {
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="movieCard">
            <img class="cardPhoto" src="@("~/ImageForCourse/" + Model.ImageName)" asp-append-version="true" />
            <h5>Name: @Model.FirstName @Model.SecondName @Model.LastName</h5>
            <h5>Email: @Model.Email</h5>
            <h5>Phone Number: @Model.PhoneNumber</h5>
            <h5>City: @Model.City</h5>
            <h5>Years: @Model.Year</h5>
            <a class="btn btn-primary" asp-controller="Student" asp-action="Update" asp-route-id="@Model.Id">Update</a>
        </div>
    </div>
</body>
</html>