@model CourseViewModel

@{ ViewData["Title"] = $"{Model.CourseName} - Details"; }

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1><b>@Model.CourseName</b></h1>
        <h4>Start Date: @Model.StartDate</h4>
        <h4>Duration: @Model.Duration Months</h4>
    </div>
    <div>
        <a class="btn btn-outline-danger" data-toggle="modal" data-target="#modal">
            Delete
        </a>
    </div>
</div>
<div class="mt-5">
    <textarea class="w-100" style="height: 300px; color: black; background-color: silver; font-size: large; border-radius: 1%">@Model.Description</textarea>
</div>

<partial name="CoursePartials\_CoursesDeleteModel" model="@Model" />

