@model IEnumerable<CourseViewModel>
@inject SignInManager<Models.Models.User> singInManager;

<html>
<head>
    @{ ViewData["Title"] = "Courses"; }

    <style>
        .container {
            display: inline-block;
        }

        .movieCard {
            display: inline-block;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 600px;
            max-height: 800px;
            margin-left: 2%;
            margin-top: 3%;
            font-family: arial;
        }

            .movieCard:hover {
                transform: translateY(-30px);
            }

        .cardPhoto {
            width: 300px;
            height: 300px;
        }

        .movieCard h1, p {
            color: black;
        }
    </style>
</head>


<body>
    @if (singInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-danger" asp-action="Create">Add New Course</a>
    }
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="movieCard">
                @if (item.ImageName == null)
                {
                    <img class="cardPhoto" src="~/images/default-image.png" />
                }
                else
                {
                    <img class="cardPhoto" src="@("~/ImageForCourse/" + item.ImageName)" asp-append-version="true" />
                }
                <h1>@item.CourseName</h1>
                <p>Price: @item.Price</p>
                <p>Duration: @item.Duration months</p>
                <a asp-controller="Course" asp-action="GetCourseById" asp-route-id="@item.Id" class="btn btn-primary mx-1">Read More</a>

                @if (singInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a class="btn btn-outline-dangerr" asp-controller="Course" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-primary" asp-controller="Course" asp-action="Update" asp-route-id="@item.Id">Update</a>
                }
            </div>
        }
    </div>

</body>
</html>